.nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #F2F2F2;
}
.nav img{
  width:120px;
  height:30px;
}
.mybutton{
  background-color:#ff3333;
  scroll-margin-inline: 100px;
  padding:7px 25px;
  text-decoration: center;
  display:inline-block; 
}
button:hover, button:active {
  /* background-color: #ff6666; */
  background-color: grey;
}
button{
  margin-left:1130px; 
}
a{
  text-decoration: none;
  color:white;

}
.carousel-item {
  height: 88vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size:contain;
   /* transition:-webkit-transform 2s ease; */
  /* -webkit-transition: 0.6s ease-in-out left;  */
}

/* edited */
#carouselExampleIndicators{
  background:#ffff66;
}
/* .item {
  display: none;
  position: relative;
  .transition(.6s ease-in-out left);
}
   */