.available{
    margin-left: 20px;
    
    border:2px solid black;
    color:black;  
    overflow:hidden;
    text-align:justify;  
    width: 1000px;  
  }
  
  .available .inner {
    height:500px;
    overflow:auto;
    margin:15px -300px 15px 15px;
    padding-right:300px;
  }
   
    .employeetext{
      padding-left:120px;
    }
    .employeetext1{
      padding-left:120px;
    }
    #search{
  margin-left: 130px;
    }
    h2{
      font-weight: 800;
    }
      #myTable{
        border-collapse: collapse;
        border: 1px solid black;
        table-layout: auto;
    width: 100%;
      }
      th,td {
        border: 1px solid black;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      li {
        list-style-type: none;
    }
    .requested{
      margin-left: 0px;
      border:2px solid black;
      color:black;  
      overflow:hidden;
      text-align:justify;  
      width: 1000px;  
    }
    
    .requested .innertable {
      height:300px;
      overflow:auto;
      margin:15px -300px 15px 15px;
      padding-right:300px;
    } 
    #myTablerequested{
      border-collapse: collapse;
      border: 1px solid black;
      table-layout: auto;
  width: 100%;
    }
    