.nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #F2F2F2;
    /* display:flex; */
}
button{
  height:40px;
  width:110px;
  position: absolute;
  margin:0px 3px 7px 3px;
}

  button:hover, button:active {
    background-color: #ff6666;
    color:white;
    
  }
  .mybutton{
    background-color:#ff3333;
    color:white;
    padding-top:5px;
    margin-left:1200px;
    margin-right:10px;

  
  }
  .mycourses{
    background-color:#ff3333;
    color:white;
    padding-top:5px;
    margin-left:1040px;
    margin-bottom: 5px;
    text-decoration: center;
    display:inline-block;
  }